@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  --falu-red: #6f1d1bff;
  --lion: #bb9457ff;
  --bistre: #432818ff;
  --brown: #99582aff;
  --peach: #ffe6a7ff;
}
body {
  background-color: var(--bistre);
  color: var(--peach);
  .app {
    font-family: "Geist Mono";
    .game {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3vh;
      .text {
        cursor: default;
        font-weight: bold;
        letter-spacing: 3px;
        position: relative;
        transition: filter 0.3s ease;
        font-size: 1.3em;
        user-select: none;
      }

      .feedback {
        font-size: 0.8em;
      }

      .button {
        margin-top: 2vh;
        width: 13vw;
        height: 8vh;
        border-radius: 0.5em;
        cursor: pointer;
        font-size: 1.3em;
        letter-spacing: 3px;
        font-family: "Geist Mono";
        border: solid var(--lion) 1px;
        transition: background-color 0.1s ease, color 0.3s ease;
      }
      .button:focus {
        border: solid var(--lion) 1px;
      }
      .button:hover {
        background-color: var(--lion);
        color: var(--bistre);
      }
      .button:active {
        background-color: var(--peach);
      }

      .currentTurn {
        height: 3vh;
      }
      .board {
        width: 40%;
        height: 50vh;
        gap: 1.5vw;
        font-size: 2em;
        //   background-color: green;
        display: grid;
        margin: auto;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        justify-content: center;
        .square {
          background-color: var(--brown);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 0.3em;
          transition: all 0.25s linear;
          .insideSquare {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
        }
        .square:hover {
          filter: brightness(1.5);
        }
      }
      .board:hover > :not(.square:hover) {
        opacity: 0.5;
      }
    }
  }
}
.start {
  background-color: var(--brown);
  color: var(--peach);
}
.start:hover {
  background-color: var(--peach);
  color: var(--brown);
}
.reset {
  background-color: var(--peach);
  color: var(--bistre);
}
.reset:hover {
  background-color: var(--peach);
  color: var(--bistre);
}
.winnerPath {
  background-color: var(--peach);
  color: var(--bistre);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3em;
  transition: all 0.25s linear;
}
.winnerPath:hover {
  background-color: var(--bistre);
  color: var(--peach);
}

.text span::after {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--peach);
  transform: scale(0);
  transition: transform 0.2s linear;
}
.text:hover span::after {
  transform: scale(1);
}
.text:hover {
  filter: brightness(1.1);
}
